{
    "parametrs": {
        "tf_idf": {
            "active": {
                "tf_type": "log_norm",
                "idf_type": "idf_smoth"
            },
            "valid": {
                "tf_type" : ["tf", "log_norm"],
                "idf_type": ["idf", "idf_smoth"]
            }
        },
        "bm25f": {
            "active": {
                "k_1": 1,
                "k_2": 350,
                "zones" : {
                    "title" : {
                        "tags": ["<title>"],
                        "weight" : 2
                    },
                    "bold" : {
                        "tags" : ["<b>;<strong>", "<mark>"],
                        "weight" : 0
                    },
                    "down_line" : {
                        "tags": ["<u>", "<ins>"],
                        "weight" : 0
                    },
                    "cursive" : {
                        "tags": ["<i>;<em>"],
                        "weight" : 0
                    },
                    "links" : {
                        "tags": ["<a>"],
                        "weight" : 0
                    },
                    "body" : { 
                        "tags" : ["body"],
                        "weight" : 1
                    }
                }
            },
            "valid": {
                "b" : 0.75,
                "k_1": "[1.2; 2.0]"
            }
        }
    },
    "model": "bm25f"
}
