{
    "parametrs": {
        "tf_idf": {
            "active" {
                "tf": "log_norm",
                "idf": "idf_smoth"
            },
            "valid": {
                "tf" : ["tf", "log_norm"],
                "idf": ["idf", "idf_smoth"]
            }
        }
    },
    "model": "tf_idf"
}
