{
    "filepath" : {
        "queries" : "data/queries.numerate.txt",
        "urls" : "data/urls.numerate.txt", 
        "sample_submission" : "data/sample_submission.txt", 
        "submission" : "data/submission.txt",
        "idf" : "data/idf.pack"
    },
    "directory": {
        "raw_content" : "data/raw",
        "processed_content" : "data/processed"
    },
    "delete_stop_words" : true,
    "valid_score_method" : ["zero_all", "tf_idf"]
}
